<%- include('./layouts/header') %>
  <div class="row mt-5">
    <div class="col-lg-4"></div>
    <div class="col-lg-4 col-md-12">
      <div class="card profile border-dark">
        <div class="card-body border-dark">
          <form class="p-5" action="/auth/login" method="post">
            <h1 class="h3 mb-3 fw-normal text-center text-bolder">Login Here!</h1>

            <label for="floatingInput">Email address</label>
            <input type="text" name="email" id="email" class="form-control border-dark mb-1"
              placeholder="name@parkville.com">
            
            <label for="floatingPassword">Password</label>
            <input type="password" name="password" id="password" class="form-control border-dark mb-1"
              placeholder="Password">

            <input class="w-100 btn btn-lg btn-primary" type="submit" value="Login" />
          </form>
          <div class="text-center">
            <p>Don't Have An Account? <span><a class="btn btn-success" href="/auth/register">Register</a></span></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4"></div>
  </div>


  <%- include('./layouts/footer') %>